@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
* {
  font-family: 'Jacquard 12', serif;
  color: white;
}
html {
  width: 100%;
  height: 100%;
  font-size: 120;
}
p {
  text-align: center
}
body {
  background-color: white; 
}
