@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
  color: white;
  font-family: 'Silkscreen', sans-serif;
}
html {
  background-image: url(https://wallpapercave.com/wp/wp2787656.jpg);
  width: 100%;
  heigh: 100%;
  font-size: 64px;
}

@keyframes moveright {
  0% {transform:translateX(0);}
  100% {transform:translateX(-50vw);}
}
@keyframes moveleft {
  0% {transform:translateX(0);}
  100% {transform:translateX(50vw);}
}
@keyframes specialmoveleft {
  0% {transform:translateX(0);}
  100% {transform:translateX(100vw);}
}
.object1 {
  position: absolute;
  top: 35vh;
  right: 100vw;
  animation-name: moveleft;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.object2 {
   position: absolute;
   top: 35vh;
   left: 100vw;
   animation-name: moveright;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
  
}
.object3 {
   position: absolute;
   top: 40vh;
   right: 100vw;
   animation-name: specialmoveleft;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
  
}
.object4 {
   position: absolute;
   top: 40vh;
   left: 100vw;
  
}
  
