@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
  font-family: 'Silkscreen', sans-serif;
  color: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
* {
  color: black;
  font-family: 'Golos Text', sans-serif;
}
html {
  width: 100%;
  height: 100%;
  font-size: 64px;
}

body {
  background-size: cover !important; 
  background-color: black; 
}

@keyframes moveright {
  0% {transform:translateX(0);}
  100% {transform:translateX(-50vw);} 
}
@keyframes moveleft {
  0% {transform:translateX(0);}
  100% {transform:translateX(50vw);}
}

footer1 {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 24px;
}

hr {
  color: white !important;
}

svg{fill:#FFFFFF;width:30px;height:30px}


.object1 {
  background-image: url("https://www.publicdomainpictures.net/pictures/200000/velka/plain-white-background-1480544970glP.jpg");
  background-size: cover;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  text-align: center;
  position: absolute;
  top: 35vh;
  right: 100vw;
  animation-name: moveleft;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.object2 {
  background-image: url("https://www.publicdomainpictures.net/pictures/200000/velka/plain-white-background-1480544970glP.jpg");
  background-size: cover; 
  background-clip: text !important;
  -webkit-background-clip: text !important;
  text-align: center;
  position: absolute;
  top: 35vh;
  left: 100vw;
  animation-name: moveright;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.button {
  font-family: 'Golos Text', sans-serif;
  color: black;
  background-color: black;
  border: none;
  padding: 4px;
  top: 2vh;
  left: 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 4px 3px;
  cursor: pointer;
}

  
