@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
  color: white;
  font-family: 'Silkscreen', sans-serif;
}
html {
  background-image: url("https://wallpapercave.com/wp/wp2787656.jpg");
  width: 100%;
  height: 100%;
  font-size: 64px;
}

@keyframes moveright {
  0% {transform:translateX(0);}
  100% {transform:translateX(-50vw);}
}
@keyframes moveleft {
  0% {transform:translateX(0);}
  100% {transform:translateX(50vw);}
}

.object1 {
  background-image: url("https://www.publicdomainpictures.net/pictures/200000/velka/plain-white-background-1480544970glP.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 35vh;
  right: 100vw;
  animation-name: moveleft;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.object2 {
   background-image: url("https://www.publicdomainpictures.net/pictures/200000/velka/plain-white-background-1480544970glP.jpg");
   background-size: cover;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   position: absolute;
   top: 35vh;
   left: 100vw;
   animation-name: moveright;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
  
}


  
